{% extends 'base_generic.html' %}

{% load static %}

{% block title %}AI Reversi{% endblock %}

{% block content %}
    <div>
        {% if request.user.is_authenticated %}
        <p id="user-status" style="display: none;">Logged In</p>
        <p>Welcome, {{ request.user.username }}!</p>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <p id="user-status" style="display: none;">Not Logged In</p>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </div>

    <div class="tabs">
        <div class="tab-button active" data-tab="Game" onclick="openTab('Game')">Game</div>
        <div class="tab-button" data-tab="Replay" onclick="openTab('Replay')">Replay</div>
        <div class="tab-button" data-tab="Dashboard" id="dashboard-tab" onclick="openTab('Dashboard')" style="display: none;">Dashboard</div>
    </div>

    <div id="Game" class="tab-content active">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="container border border-primary">
                        <div class="question">Mode</div>
                        <div>
                            <label><input type="radio" name="mode" value="cp" checked> vs AI</label>
                            <label><input type="radio" name="mode" value="manual"> vs Human</label>
                        </div>
                
                        <div class="question">If vs AI, you are</div>
                        <div>
                            <label><input type="radio" name="color" value="black" checked> First player (Black)</label>
                            <label><input type="radio" name="color" value="white"> Second player (White)</label>
                        </div>
                
                        <div class="question">AI level</div>
                        <div>
                            <label><input type="radio" name="level" value=1 checked> 1</label>
                            <label><input type="radio" name="level" value=2> 2</label>
                            <label><input type="radio" name="level" value=3> 3</label>
                        </div>
                        <!-- Checkbox that asks highlighting possible cells-->
                        <div class="container">
                            <form action="">
                                <input type="checkbox" id="highlight" name="highlight" value="checked" checked>
                                <label for="highlight">Highlight valid places</label>
                            </form>
                        </div>
                
                        <button type="button" class="btn btn-primary" id="confirmed-btn">Confirm and Start!</button>
                    </div>
                </div>
    
                <div class="col-5">
                    <div class="board">
                        <!-- Game board will be generated here. -->
                    </div>
                </div>
    
                <div class="col-3">
                    <div class="container">
                        <div class="turn subsection">
                            <div class="info">Turn:</div>
                            <div id="turn">Black</div>
                        </div>
                        <div class="score subsection">
                            <div class="info">Score</div>
                            <div>Black: <span id="black-score">2</span></div>
                            <div>White: <span id="white-score">2</span></div>
                        </div>
                        <div class="history subsection">
                            <div class="info">History</div>
                            <div class="overflow-auto" style="max-height: 200px;">
                                <table class="history-table table table-striped table-bordered border-primary table-sm">
                                    <thead>
                                    <tr>   
                                        <th scope="col">#</th>
                                        <th scope="col">Player</th>
                                        <th scope="col">Position</th>
                                        <th scope="col">Time</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Replay" class="tab-content">

        <div class="container">
            <div class="row">
                <div class="col-8">
                    <div class="board animated"></div>

                    <div class="controls">

                        <button type="button" class="btn btn-primary" id="restart-animation-btn"><i class="fa-solid fa-backward-fast"></i></button>
                        <button type="button" class="btn btn-primary" id="backward-step-btn"><i class="fa-solid fa-backward-step"></i></button>
                        <button type="button" class="btn btn-primary" id="start-animation-btn"><i class="fa-solid fa-solid fa-play"></i></button>
                        <button type="button" class="btn btn-primary" id="pause-animation-btn"><i class="fa-solid fa-pause"></i></button>
                        <button type="button" class="btn btn-primary" id="forward-step-btn"><i class="fa-solid fa-forward-step"></i></button>
                        <button type="button" class="btn btn-primary" id="skip-to-end-btn"><i class="fa-solid fa-forward-fast"></i></button>
                        
                    </div>
                
                    <div class="progress-bar">
                        <div class="progress" id="progress"></div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="history-replay">
                        <div class="info">History</div>
                        <div class="overflow-auto" style="max-height: 400px;">
                            <table class="history-table table table-striped table-bordered border-primary table-sm">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Player</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Time</th>
                                </tr>
                                </thead>
                                <tbody id="replay-table-body">
                                </tbody>
                            </table>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/animation.js' %}"></script>
        <script src="https://kit.fontawesome.com/e95821f2a6.js" crossorigin="anonymous"></script>
    </div>

    <div id="Dashboard" class="tab-content">
        <h2>Performance</h2>
        <div id="dashboard-tab" style="overflow-x:auto;">
    
            <!-- Table that shows today's results -->
            <h3>Today</h3>
            <table id="ai-results-table-today" class="dashboard-table">
                <thead>
                    <tr>
                        <th>AI Level</th>
                        <th>Win</th>
                        <th>Lose</th>
                        <th>Draw</th>
                        <th>Fastest Win</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data -->
                </tbody>
            </table>
    
            <!-- Table that shows this month's results -->
            <h3>This Month</h3>
            <table id="ai-results-table-month" class="dashboard-table">
                <thead>
                    <tr>
                        <th>AI Level</th>
                        <th>Win</th>
                        <th>Lose</th>
                        <th>Draw</th>
                        <th>Fastest Win</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data -->
                </tbody>
            </table>
    
            <!-- Table that shows total results -->
            <h3>Total</h3>
            <table id="ai-results-table-total" class="dashboard-table">
                <thead>
                    <tr>
                        <th>AI Level</th>
                        <th>Win</th>
                        <th>Lose</th>
                        <th>Draw</th>
                        <th>Fastest Win</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data -->
                </tbody>
            </table>
        </div>
    </div>

    <div id="favorite-games" style="display: none;">
        <h2 class="toggle-section" data-target="favorite-games-content">
            <button class="toggle-button">+</button>
            Favorite Games
        </h2>
        <div id="favorite-games-content" style="display: none;">
            <div class="favorite-game" id="favorite-games-list">
                <table class="table table-striped table-bordered border-primary table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Favorite</th>
                            <th scope="col">Replay</th>
                            <th scope="col">Title</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Your Color</th>
                            <th scope="col">Result</th>
                            <th scope="col">Black Score</th>
                            <th scope="col">White Score</th>
                            <th scope="col">AI Level</th>
                            <th scope="col">User's Duration</th>
                        </tr>
                    </thead>
                    <tbody id="favorite-game-table-body">
                    </tbody>
                </table>
                <button id="load-prev-favorite-games" class="arrow-button" style="display: none;">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button id="load-more-favorite-games" class="arrow-button" style="display: none;">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>    

    <div id="recent-games">
        <h2 class="toggle-section" data-target="recent-games-content">
            <button class="toggle-button">+</button>
            Recent Games
        </h2>
        <div id="recent-games-content" style="display: none;">
            <div class="recent-game" id="recent-games-list">
                <table class="table table-striped table-bordered border-primary table-sm">
                    <thead>
                    <tr>
                        <th scope="col" id="favorite-header" style="display: none;">Favorite</th>
                        <th scope="col">Replay</th>
                        <th scope="col" id="title-header" style="display: none;">Title</th>
                        <th scope="col" id="edit-header" style="display: none;">Edit</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Your Color</th>
                        <th scope="col">Result</th>
                        <th scope="col">Black Score</th>
                        <th scope="col">White Score</th>
                        <th scope="col">AI Level</th>
                        <th scope="col">User's Duration</th>
                    </tr>
                    </thead>
                    <tbody id="recent-game-table-body">
                    </tbody>
                </table>
                <button id="load-prev-games" class="arrow-button" style="display: none;">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <button id="load-more-games" class="arrow-button" style="display: none;">
                    <i class="fa fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <script>
        function openTab(tabId) {
            // Hide all tabs
            const tabs = document.querySelectorAll('.tab-content');
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });

            // Show the selected tab
            const selectedTab = document.getElementById(tabId);
            selectedTab.classList.add('active');

            // Update active state of tab buttons
            const tabButtons = document.querySelectorAll('.tab-button');
            tabButtons.forEach(button => {
                button.classList.remove('active');
            });
            const activeButton = document.querySelector(`.tab-button[data-tab="${tabId}"]`);
            activeButton.classList.add('active');
        }
    </script>
    <script type="module" src="{% static 'js/main.js' %}"></script>
{% endblock %}
