@charset "UTF-8"; 

:root {
  --primary-color: #007bff; /* Main color */
  --secondary-color: #6c757d; /* Secondary color */
  --background-color: #f8f9fa; /* Background color */
  --text-color: #333; /* Text color */
}

body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x: hidden; /* 水平スクロールバーを非表示 */
  margin: 0; /* bodyのマージンを0に設定 */
  padding: 0; /* bodyのパディングを0に設定 */
}

.navbar {
  margin-bottom: 0;
}

.flag-icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.tabs {
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Blue text color for questions */
.question {
  color: blue;
}

/* Blue text color for information */
.info {
  color: blue;
}

.attention {
  color: red;
}

/* Board styling */
.board {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
  gap: 0px;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

/* Styling for individual cells */
.cell {
  background-color: #228B22;
  border: 1px solid #000;
  cursor: pointer;
}

/* Styling for game pieces */
.piece {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Black game piece */
.piece.black {
  background-color: #000;
}

/* White game piece */
.piece.white {
  background-color: #fff;
}

/* Styling for possible moves */
.possible {
  background-color: #00ff00;
}

.debug {
  background-color: yellow;
}

.aiscore {
  background-color: var(--score-color);
  color: var(--text-color);
}

/* Styling for the progress bar */
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: grey;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

/* Styling for the progress indicator */
.progress {
  height: 100%;
  background-color: #0d6efd;
  position: absolute;
  top: 0;
  left: 0;
}

/* Table styling */
.table-striped {
  font-size: 0.8rem;
  margin-bottom: 0;
  width: 100%;
}

/* Subsection styling with bottom margin */
.subsection {
  margin-bottom: 30px;
}

/* Style for the vertical scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Styling for the track of the vertical scrollbar */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Background color */
}

/* Styling for the handle of the vertical scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the handle */
  border-radius: 6px; /* Border radius of the handle */
}

/* Styling for the handle of the vertical scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Styling for the current turn */
.history-replay table tbody tr.current-turn {
  background-color: #ffd700;
  color: #000;
  font-weight: bold;
}

/* Controls section styling with center-aligned buttons */
.controls {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Margin for the control section */
}

/* Margin for buttons in the controls section */
.controls button {
  margin: 0 5px; /* Add 5px margin on top and bottom */
}

/* Container style for tabs */
.tabs {
  display: flex; /* Use flexbox to align tabs horizontally */
  justify-content: center; /* Center align */
  margin-bottom: 20px; /* Bottom margin */
}

/* Style for each tab button */
.tab-button {
  background-color: #f1f1f1; /* Background color */
  border: solid 1px #ccc; /* Border */
  padding: 10px 20px; /* Padding */
  margin-right: 20px; /* Increase right margin */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s; /* Transition for background color */
}

/* Style for active tab button */
.tab-button.active {
  background-color: var(--primary-color); /* Background color when active */
  border-bottom: 1px solid #fff; /* Bottom border when active */
}

/* Style for tab button on hover */
.tab-button:hover {
  background-color: #e7e7e7; /* Background color on hover */
}

/* General container styling */
.container {
  font-size: 1rem; /* Font size */
  max-width: 1200px; /* Maximum width */
  margin: 0 auto; /* Center align */
  padding: 15px; /* Padding */
}

/* Flexbox row styling */
.row {
  display: flex; /* Flexbox layout */
  flex-wrap: wrap; /* Allow wrapping */
  margin-right: -15px; /* Right margin */
  margin-left: -15px; /* Left margin */
}

/* Column styling for responsive layout */
.col-4, .col-5, .col-3 {
  padding-right: 15px; /* Right padding */
  padding-left: 15px; /* Left padding */
}

/* Button styling */
.btn {
  display: inline-block; /* Inline block display */
  padding: 0.75rem 1.25rem; /* Padding */
  border-radius: 0.25rem; /* Border radius */
  color: #fff; /* Text color */
  background-color: var(--primary-color); /* Background color */
  border-color: var(--primary-color); /* Border color */
  text-align: center; /* Center align text */
  cursor: pointer; /* Cursor style */
  transition: all 0.2s ease-in-out; /* Transition effect */
}

/* Button hover effect */
.btn:hover {
  background-color: #0056b3; /* Background color on hover */
  border-color: #0056b3; /* Border color on hover */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .row {
      flex-direction: column; /* Stack elements vertically */
  }
}

/* Style for arrow and toggle buttons */
/*
.arrow-button, .toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 5px;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}
*/

.dashboard-element {
  margin-top: 20px;
}

.dashboard-table th {
  background-color: #007bff;  /* Main color */
  color: white;               /* Text color */
  text-align: center;         /* Center align text */
  padding: 10px;              /* Padding */
  border: 1px solid #ddd;     /* Border style */
}

.dashboard-table td {
  text-align: center;         /* Center align text */
  padding: 8px;               /* Padding */
  border: 1px solid #ddd;     /* Border style */
}

.dashboard-table tr:nth-child(even) {
  background-color: #f2f2f2;  /* Background color for even rows */
}

.dashboard-table {
  width: 100%;              /* Table width */
  border-collapse: collapse;  /* Border style */
  margin-top: 20px;           /* Top margin */
}

#Dashboard h3 {
  color: #007bff;          /* Text color */
  margin-bottom: 15px;       /* Bottom margin */
}

/* モーダルウィンドウの背景 */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 上下のマージンを % にして中央に配置 */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* 幅を 50% に変更してコンパクトに */
  max-width: 600px; /* 最大幅を設定 */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
}

/* The Close Button */
#modal-close-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
}

.info .edit-icon {
  margin-left: 5px;
}

#game-title-input {
  margin-bottom: 15px;
}

/* Style for the container that contains the radio buttons for first player and second player */
.container-for-players {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

/* Style for the container that contains the radio buttons for AI Level */
.container-for-levels {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

/* Style for the blue line surrounding You are and AI Level */
.container-for-options {
  border: 2px solid blue;
  padding: 10px;
}

.container-for-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.container-for-gameinfo {
  border: 2px solid blue;
  padding: 10px;
  width: 100%;
}

.center-align {
  text-align: center;
}

#highlight-text {
  margin-left: 5px;
}

.main-contents {
  margin-top: 20px;
}

#replay-past-history-table-row {
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: center; /* 水平方向の中央寄せ */
  align-items: center; /* 垂直方向の中央寄せ */
}

.container-for-openai-comment {
  background-color: rgb(213, 233, 241);
  border: 2px solid blue;
  padding: 10px;
  font-size: 0.8rem;
  margin: 0 auto; /* 上下のマージンは0、左右のマージンは自動調整 */
  margin-bottom: 20px;
  max-width: 800px; /* 最大幅を指定 */
  width: 100%; /* 画面幅に合わせて幅を調整 */
}

/*========= Style for the progress bar showing the loading of the game =========*/

#splash {
  /*fixedで全面に固定*/
position: fixed;
z-index: 999;
width: 100%;
height: 100%;
background:#333;
text-align:center;
color:#fff;
}

/* Loadingバー中央配置　*/
#splash_text {
position: absolute;
top: 50%;
left: 50%;
  z-index: 999;
width: 100%;
transform: translate(-50%, -50%);
color: #fff;
}

/*IE11対策用バーの線の高さ※対応しなければ削除してください*/
#splash_text svg{
  height: 2px;
}

/*========= For layout CSS ===============*/

#container{
  width:100%;
  height: 100vh;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a{
  color: #333;
}

a:hover{
   text-decoration: none;   
}
